h1.header {
    color: white;
    text-align: center;
    font-family: Helvetica;
    background-color: blueviolet;
    font-size: 64px;
  }
p {
    font-family: Helvetica;
    font-size: 32px;
  }
div.grid-container {
    display: grid;
    grid-template-columns: 64px 256px;
  }